# Habilitar o mecanismo de reescrita
RewriteEngine On

# Redirecionar todo o tráfego do domínio para o site
RewriteCond %{HTTP_HOST} ^(www\.)?3corpos\.com$ [NC]
RewriteRule ^(.*)$ https://www.3corpos.com/$1 [L,R=301]